<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika request bukan file/folder yang ada, arahkan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
